.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.main button {
  padding: 0.5rem 1rem;
  border: 2px solid black;
  outline: transparent;
  box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
-webkit-box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
-moz-box-shadow: 5px 5px 0px 1px rgba(0,0,0,1);
  cursor: pointer;
}