.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px solid #1693a3;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
}

.main button {
  padding: 0.5rem 1rem;
  border: 2px solid #1693a3;
  outline: transparent;
  box-shadow: 5px 5px 0px 1px #1693a3;
-webkit-box-shadow: 5px 5px 0px 1px #1693a3;
-moz-box-shadow: 5px 5px 0px 1px #1693a3;
  cursor: pointer;
  font-weight: bold;
}